<p class="topside py-1">Servicio al cliente de lider:
    Whatsapp: <a  href="#">+56957211492</a> | Horario: de lunes a viernes de 8:00 a 22:00 y sábado, domingo y festivos de 9:00 a 22:00
</p>
<nav class="navbar navbar-expand navbar-light menu_bg_standard_color">
    <div class="nav navbar-nav nav-fill">
        <a class="nav-item nav-link active pe-4" href="#"> <img src="https://www.lider.cl/images/logo.svg" style="width: 100%;" width="32" height="32"/></a>
        <a class="nav-item nav-link categories py-2 px-3" href="./inicio">
            <img src="assets/img/category.png" />
            Categorias
        </a>
        <a class=" nav-item form py-1 px-3">
            <input type="text" class="form-control form-input rounded-pill" placeholder="Que estás buscando?">
        </a>
        <a class="nav-item"></a>
    </div>
</nav>
<div class="row">
    <div class="col">
        <p>resultados para:</p>
    </div>
</div>
