.topside{
    margin-top: 0;
    margin-bottom: 0rem;
    padding: 1px;
    background-color: #023758;
    color: #cfd9df;
}

.menu_bg_standard_color{
    background-color: #0071dc;
}

.categories{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #05578f;
    border-radius: 10%;
    color: #cfd9df;
    font-weight: bold;
}

.cart-count{
    width: 30px;
    background-color: #ffc11f;
    color:#05578f;
    border-radius: 50%;
    padding: 5px;
}

.supermarket{
    background-color: #5eb446;
    color: #ffff;
    font-weight: bold;
}



