<p class="topside py-1">Servicio al cliente de lider:
    Whatsapp: <a  href="#">+56957211492</a> | Horario: de lunes a viernes de 8:00 a 22:00 y sábado, domingo y festivos de 9:00 a 22:00
</p>
<div class="row menu_bg_standard_color justify-content-around">
    <div class="col-md-1 pt-2">
        <div class="row">
           <a href="" ><img src="https://www.lider.cl/images/logo.svg" style="width: 100%;" width="32" height="32"/></a>
        </div>
    </div>
    <div class="col-md-2 categories">
        <div class="row text-center">
           <p><img src="assets/img/category.png" width="32" height="32"/> Categorias </p>
        </div>
    </div>
    <div class="col-md-5">
        <div class="row pt-2">
            <input type="text" class="form-control form-input rounded-pill" (change)="searchValues()" [(ngModel)]="filterValue" placeholder="Que estás buscando?">
        </div>
    </div>
    <div class="col-md-1 categories">
        <div class="row">
            <p><img src="assets/img/cart.png" width="32" height="32"/> <label class="rounded-circle" class="cart-count">0</label> </p>
        </div>
    </div>
    <div class="col-md-2 supermarket text-center">
        <div class="row">
            <p><img src="assets/img/supermarket.png" width="32" height="32"/> Supermercado </p>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-4 ">
          <p>resultados para <strong>{{filterValue}}</strong>: </p>
      </div>
  </div>
  <app-sale-detail [ProductData] = "ProductData"></app-sale-detail>
</div>
