<app-start-menu  (SendData)="ReceiveData($event)"></app-start-menu>

<div class="container">
  <div class="row">
      <div class="col-sm-4 ">
          <p style="font-size: 18px;">resultados para <strong>{{filterValue}}</strong>: </p>
      </div>
  </div>
  <div class="row">
    <div *ngIf="CheckData; else notFound">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <div class="row text-center mb-1">
                <pagination-controls
                    (pageChange)="pageNumber = $event"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    screenReaderCurrentLabel="Página actual"
                ></pagination-controls>
            </div>
            <div class="row">
                <div class="col-md-4 mb-2" *ngFor="let item of ProductData | paginate: {
                    itemsPerPage: 3
                    , currentPage: pageNumber
                 }">
                    <app-product-depth-detail [item]="item"></app-product-depth-detail>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <ng-template #notFound>No se han encontrado productos.</ng-template>
        </div>
    </div>
  </div>
</div>
