<div class="card" style="width: 18rem;" *ngIf="valid_item">
    <img class="card-img-top" src="{{item.image | imgUrl}}" alt="Card image cap">
    <div class="card-body">
        <div class="row mb-3">
          <h5 class="card-title"><strong>{{item.brand}}</strong> {{item.description}} </h5>
        </div>
        <div class="row">
            <div class="col-md-auto">
              <p class="card-text"><strong>{{item.price | priceFormat}}</strong> </p>
            </div>
            <div class="col-md-auto" *ngIf="discount_check">
                <p class="discount-red">{{item.discount_percentaje | discountPercentaje}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" *ngIf="discount_check">
                <p class="card-text original-price ">{{item.original_price | priceFormat}}</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
              <a href="#" class="card-text btn btn-add border">Agregar</a>
            </div>
        </div>
    </div>
</div>

