<div class="container">
    <div class="row">
        <div class="col-md-2 ">
            <p>resultados para: </p>
        </div>

        <div class="offset-md-8 col-md-2">
            <p>resultados para:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <div class="row mb-3">
                      <h5 class="card-title"><strong>SuperMarca</strong> Televisión 8k </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-auto">
                          <p class="card-text"><strong>$270.000</strong> </p>
                        </div>
                        <div class="col-md-auto">
                            <p class="discount-red">50%</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text original-price ">$270.000</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                          <a href="#" class="card-text btn btn-add border">Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
