<div class="row">
    <div class="col-sm-3" ></div>
    <div class="col-sm-9" >
        <div class="row text-center mb-1">
            <pagination-controls
                (pageChange)="p = $event"
                previousLabel="Anterior"
                nextLabel="Siguiente"
                screenReaderCurrentLabel="Página actual"
            ></pagination-controls>
        </div>
        <div class="row">
            <div class="col-md-4 mb-2" *ngFor="let item of ProductData | paginate: { itemsPerPage: 3, currentPage: p }">
                <app-product-depth-detail [item]="item"></app-product-depth-detail>
            </div>
        </div>

    </div>
</div>
